<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="subContainer">
                <div class="box1">
                    <div class="text">
                        <div class="dotText">
                            <div class="dot">
                                <span></span> <span></span> <span></span>
                            </div>
                            <h1>What's New in Eduman v5.2 ?</h1>
                        </div>
                        <ul>
                            <li> <i class="ri-checkbox-circle-line"></i> Exciting New Dhashbord</li>
                            <li> <i class="ri-checkbox-circle-line"></i> Lorem ipsum dolor sit.</li>
                            <li> <i class="ri-checkbox-circle-line"></i> Lorem ipsum consectetur </li>
                            <li> <i class="ri-checkbox-circle-line"></i> Exciting New Dhashbord</li>
                        </ul>
                    </div>
                </div>
                <div class="box2">

                    <div class="detaileBox">
                        <div class="logo">
                            <i class="ri-graduation-cap-line"></i>
                            <h1>SIGN IN</h1>
                            <h5>welcome to Eduman! Please login to your account </h5>
                        </div>
                        <form class="input" action="/login" method="post">
                            <div class="userName">
                                <span>USERNAME</span>
                                <input type="text" name="username" id="username" placeholder="Please insert your username" required>
                            </div>
                            <div class="userName">
                                <span>PASSWORD</span>
                                <input type="text" name="password" id="password" placeholder="Please insert your password" required>
                            </div>
                            
                            <button type="submit"> <i class="ri-user-line"></i>LOGIN</button>

                            <div class="forgate">
                                <div class="check"><input type="checkbox" name="" id="remime"><label for="">Remind Me</label></div>
                                <a href="#">Forgate password?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>